extends layout

block content
  div.container
    div
      div
       #user
        h1.text-center.login-title Welcome #{user.firstName}. Check your details below:
         div
          ul
           li Username ---> #{user.username}
           li Is Admin ---> #{user.admin}
          a(href='/signout', class='text-center new-account') Sign Out
