extends layout

block content
  include menu.jade
  div.container
    div
      div
       table(class="table")
        tr
          th Title:
          th Uploaded:
          th Download:
        each torrents in torrent
         tr
           td 
            a(href='\item=#{torrents.id}') #{torrents.title}
           td #{torrents.date}
           td 
            a(href='#{torrents.file_path}') download 
  include footer.jade
