extends layout

block content
  include menu.jade
  div.container
    div
      div
       table(class="table")
        tr
          th Title:
          th Uploaded:
          th DL:
        each torrents in torrent
         tr
           td 
            a(href='/file_info/#{torrents.id}') #{torrents.title}
           td #{torrents.date}
           td 
            a(href='#{torrents.file_path}')
             span(class="glyphicon glyphicon-download-alt") 
  include footer.jade
