extends layout
block content
  div.container
          div
            form(class='form-signin', action='/login', method='POST')
              img(src='./images/Pirate-Flag.png', class='img-circle', alt='flag')
              label(for='username', 'class="sr-only')
              input(type='text', name='username' class='form-control', placeholder='User Name',required, autofocus)
              label(for='password' class='sr-only')
              input(type='password', name='password' class='form-control', placeholder='Password', required)
              button(class='btn btn-lg btn-primary btn-block', type='submit') Sign in
              span.clearfix
          #message
          if message
            h1.text-center.error-message #{message}
  include footer
