nav(class="navbar navbar-inverse navbar-fixed-top")
      div(class="container")
        div(class="navbar-header")
          button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
            span(class="sr-only") Toggle navigation
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")
          a(class="navbar-brand" href="#") EdPurp
        div(id="navbar" class="collapse navbar-collapse")
          ul(class="nav navbar-nav")
            li(class="active")
              a(href="/home") Home
            li
              a(href="/upload") Upload
            if user.admin
             li
              a(href="/signup") Admin
          ul(class="nav navbar-nav navbar-right")
            li
              p Hello #{user.username}
            li
              a(href='/signout') Sign Out
          form(class="navbar-form navbar-right")
            input(type="text" class="form-control" placeholder="Search...")