// TODO - Add function to check if password comf match
extends layout
block content
 include menu.jade
 div.container
   div
     div
        div
           form(class='form-signin', action='/signup', method='POST')
             h3 Register New User:
             label(for="username" class="sr-only") User Name
             input(type='text', name='username', class='form-control', placeholder='Username',required, autofocus)
             label(for="password" class="sr-only") Password
             input(type='password', name='password', class='form-control nomargin', placeholder='Password', required)
             label(for="password_comf" class="sr-only") Retype Password
             input(type='password', name='password_comf', class='form-control nomargin', placeholder='Retype Password', required)
             label(for='checkbox')
              input(type='checkbox', name='isAdmin', class='form-control', value='true')
              | Admin?
             button(class='btn btn-lg btn-primary btn-block', type='submit') Register
             span.clearfix
             #message
             if message
                h1.text-center.error-message #{message}
           div(ng-app="userList" ng-controller="UserCtrl") 
            table(class="table")
             tr
              th Name:
              th rm:
             tr(ng-repeat="x in users")
              td {{ x.username }}
              td 
                //a(href="/usr_del/{{ x._id }}")
                a(ng-click="userDel(x._id)")
                 span(class="glyphicon glyphicon-remove")
 // TODO: Move this to an outside file and add the useradd function 
 script.
    var app = angular.module('userList', []);
    app.controller('UserCtrl', function($scope, $http) {
     $http.get("/usr_list")
     .then(function(response){ $scope.users = response.data; });
     // Get Users
     $scope.userGet = function() {
       $http.get("/usr_list")
       .then(function(response){ $scope.users = response.data; });
     }
     // Delete User
     $scope.userDel = function(id) {
       $http.delete("/usr_del/"+id).then(this.userGet);
     }
    });
 include footer.jade
