extends layout

block content
  include menu.jade
  div.container
   div
    div
     br
     div(class="col-md-8 col-md-offset-3")
      form(class='form-horizontal', action='/upload', enctype="multipart/form-data", method='POST')
       div(class='form-group')
        label(for='torrent' class='col-md-2 control-label') Torrent File:
        div(class='col-md-6')
         input(type='file', name='torrent', class='form-control', required, accept='.torrent')
       div(class='form-group')
         label(for='book', class="col-md-2 control-label radio-inline")
          input(type="radio" name="book" checked="checked") 
          | Book
         // TODO: Use Angular to make the form selection dynamic
         label(for='movie', class="col-md-1 control-label radio-inline")
          input(type="radio" name="movie") 
          | Movie
         label(for='app', class="col-md-1 control-label radio-inline")
          input(type="radio" name="app") 
          | App
         label(for='game', class="col-md-1 control-label radio-inline")
          input(type="radio" name="game") 
          | Game
       div(class='form-group')
        label(for='title', class='col-sm-2 control-label') Title:
        div(class='col-md-4')
         input(type='text', name='title', class='form-control nomargin', placeholder='Title', required)
       div(class='form-group')
        label(for='ISBN', class='col-sm-2 control-label') ISBN:
        div(class='col-md-4')
         input(type='text', name='isbn', class='form-control nomargin', placeholder='ISBN', required)
       div(class='form-group')
        label(for='description', class='col-sm-2 control-label') Description:
        div(class='col-md-6')
         textarea(rows='5', name='description', class='form-control nomargin', placeholder='Description', required)
       div(class='form-group')
        div(class='col-md-2 col-md-offset-6')
         button(class='btn btn-sm btn-primary btn-block', type='submit') Upload
      span.clearfix
      #message
      if message
        h1.text-center.error-message #{message}